Source: ceasar-nginx
Package: ceasar-nginx
Priority: optional
Version: 1.30.4
Section: admin
Maintainer: IHARC Labs <support@iharc.ca>
Homepage: https://github.com/iharc-jordan/ceasar-control-panel
Architecture: amd64
Depends: ceasar (>= 1.0.0)
Description: Ceasar internal Nginx server
 Nginx built and configured for the Ceasar control panel listener.
